# logs
*.log

# dotenv environment variable files
.env
.env.*
!.env.example

# web pack
node_modules/
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus

# dist files
dist
.dist
.builds
.worktrees

# Agents
.worktrees
.claude
.codex
.sisyphus
.omx
